body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cad1cb;
}
  
.nav {
  overflow: hidden;
  background-color: #c01e51;
}

.nav a {
  float: left;
  display: block;
  color: #3f1b1b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover {
  background-color: #9e5ee7;
  color: black;
}

.nav a.active {
  background-color: #dfcd45;
  color: white;
}

.nav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.info {
  padding-left: 15px;
}  